<% if (typeof breadcrumbs !== 'undefined' && breadcrumbs.length > 0) { %>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/" hx-get="/" hx-target="#main-content" hx-push-url="true"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align:-2px"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg></a>
    </li>
    <% breadcrumbs.forEach(function(item, index) { %>
      <% if (index < breadcrumbs.length - 1) { %>
        <li class="breadcrumb-item">
          <a href="<%= item.url %>" hx-get="<%= item.url %>" hx-target="#main-content" hx-push-url="true"><%= item.label %></a>
        </li>
      <% } else { %>
        <li class="breadcrumb-item active" aria-current="page"><%= item.label %></li>
      <% } %>
    <% }); %>
  </ol>
</nav>
<% } %>
