<footer class="footer footer-transparent d-print-none">
  <div class="container-xl">
    <div class="row text-center align-items-center flex-row-reverse">
      <div class="col-12 col-lg-auto">
        <small class="text-muted">PBR Dashboard v<%= typeof dashboardVersion !== 'undefined' ? dashboardVersion : '0.1.0' %></small>
      </div>
    </div>
  </div>
</footer>
