---
phase: "<%= phase %>"
plan: "<%= plan_id %>"
type: "<%= type %>"
wave: <%= wave %>
depends_on: [<%= depends_on %>]
files_modified:
<% for (const f of files_modified) { %>  - "<%= f %>"
<% } %>autonomous: <%= autonomous %>
discovery: <%= discovery %>
must_haves:
  truths:
<% for (const t of truths) { %>    - "<%= t %>"
<% } %>  artifacts:
<% for (const a of artifacts) { %>    - "<%= a %>"
<% } %>  key_links:
<% for (const l of key_links) { %>    - "<%= l %>"
<% } %>---

<% for (const task of tasks) { %>
<task id="<%= task.id %>" type="<%= task.type %>"<% if (task.tdd) { %> tdd="true"<% } %>>
  <name><%= task.name %></name>
  <files>
<%= task.files %>
  </files>
  <action>
<%= task.action %>
  </action>
  <verify>
<%= task.verify %>
  </verify>
  <done><%= task.done %></done>
</task>
<% } %>
